.newsCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    
}

.eventsCards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    background-color: rgb(247, 243, 234);
    font-family: 'Special Elite', cursive;
    box-shadow: 1px 2px 4px rgb(60, 60, 60);
    max-width: 40%;
    max-height: 70%;
    margin: 1em;
}

.newsImg {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
}

.newsEventImg {
    border-radius: 100%;
    background-color: red;
    max-width: 50%;
    max-height: 50%;
    margin: 1em 7.5em;
}

.newsHead {
    margin: 1em;
}

.newsPara {
    margin: 1em 
}

.newsInfo {
    display: flex;
    margin: 1em;
    text-align: right;
    justify-content: flex-end;
    align-content: flex-end;

}

.newsLink {
    margin: 1em;
    color: red;
}

.newsLink:hover {
    color: black;
}

.header:hover {
    background-image: url("http://www.sclance.com/pngs/sangre-png/sangre_png_1201992.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}

.newsSocialMedia {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.newsSocialLinks {
    margin: 2em;
}
