body {
    background-color: gold;
}

.newsNavbar {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 1em;
}

a {
    color: red;
    font-family: 'Special Elite', cursive;
    text-decoration: none;
}

a:hover {
    color: white;
}

.newsHeader {
    font-family: 'Alfa Slab One', cursive;
    color: red;
    text-shadow: 4px 6px black; 
    font-size: 5em;
    text-align: center;
}

.newsCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    font-size: 15px;
}

.eventsCards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 15px;
}
.card {
    background-color: rgb(247, 243, 234);
    font-family: 'Special Elite', cursive;
    box-shadow: 1px 2px 4px rgb(60, 60, 60);
    max-width: 40%;
    margin: 1em;
}

.newsImg {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    filter: grayscale(100%);
}
.newsImg:hover {
    filter: grayscale(0%);
}

.newsEventImg {
    border-radius: 100%;
    background-color: rgb(185, 1, 1);
    max-width: 50%;
    max-height: 50%;
    margin: 1em 7.5em;
    filter: grayscale(100%)
}

.newsEventImg:hover {
    filter: grayscale(0%);
}

.newsHead {
    margin: 1em;
    font-size: 25px;

}

.newsPara {
    margin: 1em;
    min-height: 10em;
}

.newsInfo {
    display: flex;
    margin: 1em;
    text-align: right;
    justify-content: flex-end;
    align-content: flex-end;

}

.newsLink {
    margin: 1em;
    color: red;
    font-size: 15px;
}

.newsLink:hover {
    color: black;
}

.newsEventLink {
    display: flex;
    justify-content: flex-end;
    margin: 1em;
    color: red;
    font-size: 15px;
}

.newsEventLink:hover {
    color: black;
}

.header:hover {
    background-image: url("http://www.sclance.com/pngs/sangre-png/sangre_png_1201992.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}

.newsSocialMedia {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.newsSocialLinks {
    margin: 2em;
}
